@model BikoretSeret.Models.Movie
<form action="/Movies/Filter" method="post">
    <select asp-for="category">
        <option value="action"> Action</option>
        <option value="comedy"> Comedy</option>
        <option value="romanti"> Romanti</option>
    </select>
    <input type="submit" value="Submit">
</form>

<div class="row">
    @for (int i = 0; i < ViewBag.movies.Count; i++)
    {
    <div class="img_1">
        <h1>@ViewBag.movies[i].name</h1>
        <a class="nav-link text-dark" asp-area="" asp-controller="movies" asp-action="moviePage" asp-route-id="@ViewBag.movies[i].ID">
            <img id="movie-card" src="@ViewBag.ImageDataUrl[i]" />
        </a>

    </div>
    }
</div>
@if (@ViewBag.meesage != null)
{
    <h1>@ViewBag.meesage</h1>
}



