@if (ViewBag.movie != null)
{
    if (TempData.ContainsKey("name"))
    {
        string userName = TempData["name"].ToString();
        TempData["name"] = userName;
        if (userName.Equals("manager") || ViewBag.found == true)
        {
            <a asp-controller="Movies" asp-action="delete" asp-route-name="@ViewBag.movie.name">delete</a>
        }
    }
    @*<div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            <form class="modal-content" action="/Movies/delete" method="post">
                <div class="container">
                    <h1>Delete Account</h1>
                    <p>Are you sure you want to delete this movie ?</p>

                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
                    </div>
                </div>
            </form>
        </div>*@

    string imageBase64Data = Convert.ToBase64String(ViewBag.movie.ImageData);
    string imageDataUrl = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
    <br />
    <br />

    <div>
        <h1 id="mTitle" class="bigTitle"><strong>@ViewBag.movie.name</strong></h1>
        <br />
        <br />
        <p>
            <img style="width:300px; float:right; margin-left:15px;" src="@imageDataUrl" />
        </p>
        <h3 id="mTitle" class="subT"> Category : <strong>@ViewBag.movie.category</strong></h3>
        <br />
        <h5 dir="auto" id="mTitle" class="subT"><strong>@ViewBag.movie.summery</strong></h5>
        @if (TempData.ContainsKey("name"))
        {
            <a class="alert-info border-primary" onclick="commentButton" asp-controller="comments" asp-action="commentButton" asp-route-id="@ViewBag.movie.ID">you want to add comment ? press here</a>
        }
        <h2>all the comments about this movie down here</h2>
    </div>
    for (int i = 0; i < ViewBag.comments.Count; i++)
    {
        <h5>@ViewBag.comments[i].userName:@ViewBag.comments[i].comment</h5>
        @if (TempData.ContainsKey("name"))
        {
            string userName = TempData["name"].ToString();
            TempData["name"] = userName;
            @if (ViewBag.comments[i].userName.Equals(userName) || userName.Equals("manager"))
            {
                <a class="alert-info border-primary" asp-controller="comments" asp-action="DeleteComment" asp-route-id="@ViewBag.comments[i].id">you want to add comment ? press here</a>
            }
        }
    }

}